@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.search-container:hover .search-input {
  display: block;
}

.react-multi-carousel-dot button {
  border-color: #7f3f9768 !important;
  background: #7f3f9768 !important;
}
.react-multi-carousel-dot--active button {
  background: #7f3f97 !important;
}

.content-container h1 {
  margin-bottom: 1rem; /* Adjust the margin as needed */
}

.content-container p {
  margin-bottom: 1rem; /* Adjust the margin as needed */
}

.fixed-title {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: inherit; /* Keeps the background as it is */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Custom styles for Slick dots */
.slick-dots {
  bottom: 10px; /* Positioning of the dots */
}

.slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
  width: 10px; /* Width of each dot */
  height: 10px; /* Height of each dot */
  border-radius: 50%; /* Make it circular */
  background-color: #ccc; /* Default color */
  opacity: 1; /* Ensure visibility */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.slick-dots li.slick-active button {
  background-color: #a1b300; /* Active dot color */
}

::placeholder {
  color: black;
}
.custom-dot-lists{
  margin-bottom: 80px !important;
}